*{
    font-family: monospace;
}
body{
    margin: 0;
}
header{
    height: 100vh;
    color: white;
    background-color:#319ff9;
}
header h1{
    margin: 0;
}
.but{

    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.but:hover{
    color: white;
    background-color: darkblue;
}